<section class="content-header">
  <h1>
        <b>{{action}} Recursos</b>
    </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-tachometer"></i>Recursos</a></li>
    <li class="active">{{action}}</li>
  </ol>
</section>
<hr>
<section class="content">
  <form class="row flex-centered" action="/resource/{{url}}" method="post">
    <input type="hidden" name="id" value="{{resource.id}}">
    <div class="col-md-5 row">
      <div class="col-md-12 form-group">
        <label for="name">Nombre del recurso</label>
        <input maxlength="100" type="text" class="form-control" name="name" value="{{resource.name}}" placeholder="Nombre del recurso" required>
      </div>
      <div class="col-md-12 form-group">
        <label for="quantity">Cantidad del recurso</label>
        <input maxlength="10" type="number" class="form-control" name="quantity" value="{{resource.quantity}}" placeholder="Cantidad del recurso" required>
      </div>
      <div class="col-md-12 form-group">
        <label for="ubication">Ubicación del recurso</label>
        <input maxlength="100" type="text" class="form-control" name="ubication" value="{{resource.ubication}}" placeholder="Nombre del proyecto" required>
      </div>
      <div class="col-md-12 form-group">
        <label for="description">Descripción del recurso</label>
        <textarea maxlength="255" name="description" class="form-control text-area" rows="8" placeholder="Descripción del recurso" required>{{resource.description}}</textarea>
      </div>
      <div class="col-md-6">
        <a href="/resource/list" type="buttom" class="btn btn-flat btn-block btn-info">Cancelar</a>
      </div>
      <div class="col-md-6">
        <input type="submit" name="submit" class="btn btn-flat btn-block btn-{{color}}" value="{{action}}">
      </div>
      <div class="col-md-12">
        <label>{{error}}</label>
      </div>
    </div>
  </form>
</section>
