<section class="content-header">
  <h1>
    <b>Selecionar proyecto</b>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i>Proyecto</a></li>
    <li class="active">seleccionar</li>
  </ol>
</section>
<hr>
<section class="content flex-centered">
  <div class="col-md-10">
    <table class="table table-striped table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <th>Etapa</th>
          <th>Director</th>
          <th style="width: 120px;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each projects}}
          <tr>
            <td>{{name}}</td>
            <td>{{start}}</td>
            <td>{{end}}</td>
            <td>{{stage}}</td>
            <td>{{name_user}}</td>
            <td style="width: 120px;">
              <ul class="list-buttons">
                <li>
                  <a href="/integrant/select/{{id}}" class="btn btn-primary btn-block">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
