<section class="content-header">
  <h1>
        <b>{{action}} reuniones</b>
    </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-building"></i>Reuniones</a></li>
    <li class="active">{{action}}</li>
  </ol>
</section>
<hr>
<section class="content">
  <form class="row flex-centered" action="/meeting/{{url}}" method="post">
    <input type="hidden" name="id" value="{{meeting.id}}">
    {{#if visible}}
      <div class="col-md-8 row">
        <label style="color:#af0909; font-size:1.8em;">No existen proyectos para crear una reunión.</label>
      </div>
    {{else}}
      <div class="col-md-5 row">
        <div class="col-md-12 form-group">
          <label for="project">Proyecto</label>
          <select class="form-control" name="project" required>
          {{#each projects}}
          <option value="{{id}}" {{#if select}}selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
        </div>
        <div class="col-md-12 form-group">
          <label for="thematic">Temática</label>
          <input maxlength="200" type="text" class="form-control" name="thematic" value="{{meeting.thematic}}" required placeholder="Temática de la reunión">
        </div>
        <div class="col-md-12 form-group">
          <label for="ubication">Ubicación</label>
          <input maxlength="200" type="text" class="form-control" name="ubication" value="{{meeting.ubication}}" required placeholder="Ubicación de la reunión">
        </div>
        <div class="col-md-12 form-group">
          <label for="start">Fecha</label>
          <input type="date" name="start" class="form-control" value="{{meeting.start}}" required>
        </div>
        <div class="col-md-6">
          <a href="/meeting/list" type="buttom" class="btn btn-flat btn-block btn-info">Cancelar</a>
        </div>
        <div class="col-md-6">
          <input type="submit" name="submit" class="btn btn-flat btn-block btn-{{color}}" value="{{action}}">
        </div>
        <div class="col-md-12">
          <label>{{error}}</label>
        </div>
      </div>
    {{/if}}
  </form>
</section>
