<section class="content-header">
  <h1>
        <b>{{action}} Integrantes</b>
    </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-tasks"></i>Integrantes</a></li>
    <li class="active">{{action}}</li>
  </ol>
</section>
<hr>
<section class="content">
  <form class="row flex-centered" action="/member/search" method="post">
    {{#if visible}}
      <div class="col-md-8 row">
        <label style="color:#af0909; font-size:1.8em;">No existen proyectos para asignar Integrantes</label>
      </div>
    {{else}}
      <div class="col-md-8 row">
        <div class="col-md-6 form-group">
          <label for="project">Proyecto</label>
          <select class="form-control" name="project" required>
          {{#each projects}}
          <option value="{{id}}" {{#if select}}selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="name">Ingrese la cédula</label>
          <input type="search" class="form-control" name="document" required placeholder="cédula integrante">
        </div>
        <div class="col-md-4">
          <input type="submit" name="submit" class="btn btn-flat btn-block btn-{{color}}" value="Buscar">
        </div>
      </div>
    {{/if}}
  </form>
  <br>
  {{#if state}}
    <form class="row flex-centered" action="/member/{{url}}" method="post">
      {{#if err}}
        <div class="col-md-8 row">
          <label style="color:#af0909; font-size:1.8em;">No existen encontro Usuario alguno.</label>
        </div>
      {{else}}
        <input type="hidden" name="id" value="{{member.id}}">
        <input type="hidden" name="user" value="{{member.id_user}}">
        <input type="hidden" name="project" value="{{member.project}}">
        <div class="col-md-5 row">
          <div class="col-md-12 form-group">
            <label>Nombre integrante</label><br>
            <label>{{member.name}}</label>
          </div>
          <div class="col-md-12 form-group">
            <label>Apellido integrante</label><br>
            <label>{{member.last_name}}</label>
          </div>
          <div class="col-md-12 form-group">
            <label>Correo integrante</label><br>
            <label>{{member.mail}}</label>
          </div>
          <div class="col-md-12 form-group">
            <label>Proyecto</label><br>
            <label>{{member.project_name}}</label>
          </div>
          <div class="col-md-6">
            <a href="/member/create" type="buttom" class="btn btn-flat btn-block btn-info">Cancelar</a>
          </div>
          <div class="col-md-6">
            <input type="submit" name="submit" class="btn btn-flat btn-block btn-{{color_action}}" value="{{action}}">
          </div>
      {{/if}}
    </form>
  {{/if}}

</section>
